
.documentsList--wraper {

    .page-title {
        margin-left: 18px
    }


.list-group {
    margin: 14px;
    border: 1px solid lightgray;
    padding: 0px;
    border-radius: 5px ;

    .list-group-item {
        padding: 14px;
        border-bottom: 1px solid lightgray;
    }

    .list-item-id {
        float: left;
        font-size: 14px;
        margin-right: 7px;
        padding: 7px;
        background: #288288;
        border-radius: 50px;
        width: 32px;
        height: 32px;
        color: white;
        display: flex;
        align-content: center;
        align-items: center;
        margin-top: -2px
    }

    .list-item-name {
        float: left;
        font-size: 21px;
        color: #288288
    }

    .list-item-categories {
        padding: 7px 14px;
        color: lightgray;
        border: 1px solid lightblue;
        border-radius: 5px;
        float: left;
        margin: 0px 7px ;
        cursor: pointer;
        &:first-child {
            margin-left: 36px
        }
        &:hover {
            background: #288288;
            color: white
        }

    }
}

}